# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/

# General build artifacts
dist/
build/

# Virtualenv
.venv/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Poetry
poetry.lock
*.egg-info/
.cache/
htmlcov/

# pytest-cov
.coverage

# Node
node_modules/
frontend/node_modules
backend/node_modules
dist/
build/
